@import '../../scss/variables.scss';
@import '../../scss/global-styles.scss';

.header-component {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
    // background-color: rgba($color: $color-lavender, $alpha: 0.6);
    padding: 20px;
    // border-bottom: 1px solid rgba($color: $color-lavender, $alpha: 0.9);
}

.header-name {
    color: $color-green;
    font-family: $font-family-guerrilla;
    font-size: 3rem;
    margin: 0;
    cursor: pointer;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    div {
        color: $color-green-light;
        font-family: $font-family-64;
        font-size: 12px;
        padding: 0 10px;
        bottom: 0;
        cursor: pointer;
    }

    .menu-selected {
        color: $color-green-dark;
        border-bottom: 1px solid rgba($color: $color-green-dark, $alpha: 0.6);
    }
}

@media screen and (max-width: 650px) {
    .header-links {
        display: none;
    }
}