@import "./variables.scss";

p {
    color: $font-color-white;
}

.parent-col-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;

    .col-left {
        width: 30%;
        margin: auto;
    }

    .col-right {
        width: 70%;
        font-family: $font-family-protest;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
}

.image-holder {
    width: 350px; /* Adjust the width and height based on your design */
    height: 350px;
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Hide any content that overflows the circular shape */
    border: 2px solid #ccc; /* Optional: Add a border for styling */
    margin: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}


.technology-title {
    color: $font-color-black;
    font-family: $font-family-titillium;
    margin: 10px 0;
    font-size: 0.9rem;
}

.technology-pills {
    border-radius: 12px;
    background-color: $font-color-gray;
    margin: 5px;
    padding: 8px;
    display: inline-block;
    
    .technology-name {
        font-size: small;
        vertical-align: middle;
    }
    img {
        height: 24px;
        width: 24px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

//Prime NG styles
.card {
    margin: 50px;
}

.p-card {
    border: 2px solid rgba($font-color-black, 0.7);
    box-shadow: 10px 5px 5px rgba($font-color-black, 0.3);
}

.active-box {
    .p-card {
        border: 3px solid rgba($font-color-green-dark, 1);
        box-shadow: 10px 5px 5px rgba($font-color-green-dark, 0.8);
    }
}

.grayscale { filter: grayscale(100%); }
.p-timeline-event-separator {
    span {
        background-color: none !important;
    }

}
.p-card-content {
    padding: 0.5rem 0;
    p {
        color: $font-color-black;
        margin: 0;
        font-family: $font-family-titillium;
    }
}




@media screen and (max-width: 650px) {
    .parent-col-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .col-left {
            width: auto;
            margin: 20px;
        }

        .col-right {
            width: auto;
            height: fit-content;
            display: flex;
            flex-direction: row;
            margin: 0 20px;
        }
    }

    .image-holder {
        width: 250px; /* Adjust the width and height based on your design */
        height: 250px;
        border-radius: 50%; /* Create a circular shape */
        overflow: hidden; /* Hide any content that overflows the circular shape */
        border: 2px solid #ccc; /* Optional: Add a border for styling */
        margin: auto;
    }


    // Timeline primeNG changes

    .card {
        margin: 10px;
    }
    .p-timeline-event {
        display: block;
        margin-bottom: 15px;
    }

    .p-timeline-event-separator {
        display: none;
    }

    .p-card-body {
        padding: 1rem;
    }
    .p-card-title {
        font-size: 1rem;
        margin-bottom: 4px;
    }

    .p-card-subtitle {
        font-size: 0.8rem;
        margin-bottom: 4px;
    }

    .p-card-content {
        padding: 0.2rem 0;
        font-size: 0.8rem;
    }

    .technology-title {
        color: $font-color-black;
        font-family: $font-family-titillium;
        margin: 5px 0;
        font-size: 0.6rem;
    }
    .technology-pills {
        border-radius: 12px;
        background-color: $font-color-gray;
        margin: 2px;
        padding: 2px;
        display: inline-block;
        
        .technology-name {
            font-size: smaller;
            vertical-align: middle;
        }
        img {
            height: 12px;
            width: 12px;
            vertical-align: middle;
            margin-right: 2px;
        }
    
    }
}