// Colors
$primary-background-color: #33b3a6;
$secondary-background-color: #6A9CA8;


//Colors
$color-white: #ffffff;
$color-off-white: #F9F9F9;
$color-gray: #EDEDED;
$color-light-gray: #F5F5F5;
$color-yellow: #FFFFD8;
$color-gold: #FFD700;
$color-beige: #F4E3CB;
$color-brown-warm: #8B4513;
$color-brown-dark: #D2B48C;
$brown-light: #D2B48C;
$color-lavender: #E6E6FA;
$color-purple: #9370DB;
$color-black: #000000;
$color-charcol: #333333;

//Green colors
$color-green: #008000;
$color-green-dark: #006400;
$color-green-medium: #4CAF50;
$color-green-light: #8BC34A;
$color-green-pale: #C8E6C9;

//font styles
$font-family-pacifico: 'Pacifico', cursive;
$font-family-poorstory: 'Poor Story', system-ui;
$font-family-guerrilla: 'Protest Guerrilla', sans-serif;
$font-family-protest: 'Protest Strike', sans-serif;
$font-family-64: 'Sixtyfour', sans-serif;
$font-family-syne: 'Syne Mono', monospace;
$font-family-titillium: 'Titillium Web', sans-serif;
$font-family-bahia: "Bahianita", sans-serif;
$font-family-dancing: "Dancing Script", cursive;

/* Keyframe animation for the typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}