// Colors
$primary-background-color: #33b3a6;
$secondary-background-color: #6A9CA8;


//font-colors
$font-color-white: #ffffff;
$font-color-gray: #EDEDED;
$font-color-yellow: #FFFFD8;
$font-color-gold: #FFD700;
$font-color-green-light: #B2DFB2;
$font-color-green-dark: #006400;
$font-color-beige: #F4E3CB;
$font-color-brown-warm: #8B4513;
$font-color-brown-dark: #D2B48C;
$font-color-brown-light: #D2B48C;
$font-color-lavender: #E6E6FA;
$font-color-purple: #9370DB;

//font styles
$font-family-pacifico: 'Pacifico', cursive;
$font-family-poorstory: 'Poor Story', system-ui;
$font-family-guerrilla: 'Protest Guerrilla', sans-serif;
$font-family-protest: 'Protest Strike', sans-serif;
$font-family-64: 'Sixtyfour', sans-serif;
$font-family-syne: 'Syne Mono', monospace;
